h1{
    border: 2px solid black;
    width: 50%;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    border: 2px solid black;
    /* margin: 50px; */
    font-size: 10px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    /* margin-left: 10%; */
    font-size: 3em;
    padding: 1em;
}

button{
    font-size: 25px;
    border-radius: 10px;
    border: 5px solid green;
    padding-left: 1em;
    padding-right: 1em;
}

/* Drwaback of em: Snowball effect */
section{
    font-size: 15px;
}

div{
    /* font-size: 2em; */
    font-size: 2rem;
}