#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: flex-start;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start;
    /* align-content: baseline; */
}

#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 2;
    max-width: 400px; */
    flex-grow: 2;
}

#yellow{
    /* align-self: flex-start; */
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    flex: 2 2 100px;

}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 50px;
    text-align: center;
    font-size: 1.5em;
}