#container{
    height: 400px;
    width: 400px;
    background-color: azure;
    border: 2px solid lightseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.letter{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    background-color: grey;
}

#navbar{
    height: 50px;
    width: 900px;
    border: 2px solid lightseagreen;
    display: flex;
    background-color: pink;
    border-radius: 10px;
    align-content: center;
}

.option{
    height: 50px;
    width: 80px;
    display: flex;
    font-size: 24px;
    margin-left: 5px;
    align-items: center;
}