.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* Animation properties */
    /* animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    animation: colorAnimation 4s ease-in-out 0.5s infinite alternate;

}   

@keyframes fontAnimation{
    from{
        font-size: 20px;
        background-color: blueviolet;
    }
    to{
        font-size: 40px;
        background-color: yellow;
        border-radius: 20px;
        border: 3px solid black;
    }
}

@keyframes colorAnimation{
    0%{
        background-color: green;
    }
    50%{
        background-color: orangered;
    }
    80%{
        background-color: blueviolet;
    }
    100%{
        background-color: turquoise;
    }
}

@keyframes widthAnimation{
    from{
        width: 20px;
    }
    to{
        width: 500px;
    }
}

