.container{
    display: grid;
    height: 60vh;
    width: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    margin: 0;
    padding: 0;
    grid-gap: 10px 10px;
}
.container div{
    background-color: pink;
    font-size: 1.5rem;
}

.header{
    grid-column: 1/13;
    grid-row: 1/2;
}

.sidebar{
    grid-row: 2/12;
    grid-column: 1/4;
}

.navigation{
    grid-column: 4/10;
    grid-row: 2/3;
}

.main{
    grid-column: 4/10;
    grid-row: 3/12;
}

.ads{
    grid-row: 2/12;
    grid-column: 10/13;
}

.footer{
    grid-column: 1/13;
    grid-row: 12/13;
}

@media (max-width: 720px){
    header{
    grid-column: 1/13;
    grid-row: 1/2;
}

.sidebar{
    grid-row: 3/12;
    grid-column: 1/4;
}

.navigation{
    grid-column: 1/13;
    grid-row: 2/3;
}

.main{
    grid-column: 4/13;
    grid-row: 3/12;
}

.ads{
    grid-row: 12/13;
    grid-column: 1/4;
}

.footer{
    grid-column: 4/13;
    grid-row: 12/13;
}
}